---
import HorizontalTabs from '../ui/HorizontalTabs.astro';
import czechRepublic from '~/assets/images/pic.png';
import { Image } from 'astro:assets';

export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  image?: string | any; // TODO: find HTMLElementProps
}

const {
  id,
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<section class="text-white relative md:-mt-[76px] not-prose" {...id ? { id } : {}}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="pt-0 md:pt-[76px] pointer-events-none"></div>

    <div class="swiper-body">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="py-12 md:py-20 flex">
              <div class="relative w-[700px] h-[750px] left-[25%] top-[150px] translate-x-[-65%] m-auto">
                <Image width="700" height="750" src={czechRepublic} alt="A bird sitting on a nest of eggs." />
              </div>

              <div class="text-center pb-10 md:pb-16 max-w-xl mx-auto pt-40 px-10">
                <HorizontalTabs
                  tabs={[
                    { name: 'Krizova vazba', href: '/1' },
                    { name: 'Termovazba', href: '/2' },
                    { name: 'Měkké desky', href: '/3' },
                  ]}
                />
                {
                  tagline && (
                    <p
                      class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase"
                      set:html={tagline}
                    />
                  )
                }
                {
                  title && (
                    <h1
                      class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
                      set:html={title}
                    />
                  )
                }
                <div class="max-w-xl mx-auto">
                  {subtitle && <p class="text-xl text-muted mb-6 dark:text-slate-300" set:html={subtitle} />}
                </div>
                {content && <Fragment set:html={content} />}
                <a>Prohlédnout</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>

<style>
  .swiper-body {
    position: relative;
    height: 600px;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next {
    color: white;
  }
  .swiper-button-prev {
    color: white;
  }
</style>

<script src="../libs/slider.ts"></script>
